/* https://github.com/Leaflet/Leaflet/issues/3575 */
.leaflet-tile {
  width: 257px !important;
  height: 257px !important;
}

html {
  background: #2B2B2BFF;
}

body {
  background: #2B2B2BFF;
}

.leaflet-container {
  background-color: rgba(255, 0, 0, 0.0);
}
